{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}How To Play{% endblock %}

{% block body_block %}

<h1>Objective of the Game </h1>
        <p>A player starts on day one of the zombie apocalypse. The goal is to last as many days as possible.</p>
    <h2> Functions</h2>
        <p> Players have the option to enter a house or move to the next. The size and state of the house will give a hint as to the number of rooms and zombies inside.</p>
        <p>When inside the house the player has the option to search different rooms. Some may contain zombies that you'll have to fend off!</p>
    <h2> Survival</h2>
        <p> Finding valuable resources such as food, ammo and survivors will increase your chances of survival.</p>
        <p> However, the more survivors in your party, the quicker your food supply will run out.</p>
    <h2> Badges</h2>
        <p> As you progress through the game, you can earn badges for your feats. Can you unlock the coveted platinum badge?</p>	
{% endblock %}