{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Scavenger{% endblock %}

{% block body_block %}
    <img src="{% static "images/scavenger.png" %}" align="center" height="141" width="467">
	<h1>Have You Got What It Takes To Survive?</h1>
        <h3>Fight for survival in the post-apocalyptic streets of Glasgow!</h3>
			<img src="{% static "images/zombies/5.jpg" %}" align="center" height="400" width="400">	</br>
			</br>
	<div align ="center" style="width:200px;height:400px;float:left;border:1px solid #000; background-color: rgba(5,4,2,0.6); color: white;">	
	<img src="{% static "images/badge3.png" %}" align="center" height="200" width="200">
	</div>
	<div align ="center" style="width:200px;float:left;height:400px;border:1px solid #000; background-color: rgba(5,4,2,0.6);">	
	<img src="{% static "images/badge2.png" %}" align="center" height="200" width="200">
	</div>
	<div align ="center"style="width:200px;float:left;height:400px;border:1px solid #000; background-color: rgba(5,4,2,0.6);">	
	<img src="{% static "images/badge.png" %}" align="center" height="200" width="200">
	</div>

			    <h2> Amass Your Army!</h2>
         Search for survivors and build up your party!
    <h2>  </h2>
         Shoot up zombies in fast-paced clicking fun!			

    <h2> </h2>
        <p> Earn badges and work your way up the leaderboards!</p>
		</br>
		</br>
		</div>
		<h6> <b>Created by Anthoni Gleeson, Kyle Burns, Kayleigh Kavanagh and Matthew Banjo.</b> </h6>
{% endblock %}