{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Profile{% endblock %}

{% block body_block %}
        <div class="page-header">
        	<h1> {{ user.username }}'s Profile</h1>
       </div>
       <h4>Email: {{ user.email }}</h4>
       <h3> Your options </h3>
        <p><a href="{% url 'auth_password_change' %}">Change password</a></p>
        <br>
        <h3> Your Game Statistics </h3>
     <!-- Display extra information if required -->
       <p> Games Played:
       		{% if UserProfile.games_played %}
					<a href="{{ UserProfile.games_played }}">{{ UserProfile.games_played}}</a>
			{% else %}
					Zero
			{% endif %}</p>

       <p> Mugshot:
       		 {% if UserProfile.picture %}
					<img src="{{ UserProfile.picture.url }}" alt="User image" />
			{% else %}
					None Given
			{% endif %}</p>
        <p> Badges:
        </p>
        <p> Most Days Survived:
       		 {% if UserProfile.most_days_survived %}
					<a href="{{ UserProfile.most_days_survived }}">{{ UserProfile.most_days_survived}}</a>
			{% else %}
					Zero
			{% endif %}</p>
        <p> Average Days Survived:
       		 {% if UserProfile.avg_days_survived %}
					<a href="{{ UserProfile.avg_days_survived }}">{{ UserProfile.avg_days_survived}}</a>
			{% else %}
					Zero
			{% endif %}</p>

        <p> Zombie Kills:
       		 {% if UserProfile.most_kills %}
					<a href="{{ UserProfile.most_kills }}">{{ UserProfile.most_kills}}</a>
			{% else %}
					Zero
			{% endif %}</p>




{% endblock %}