{% extends 'base.html' %}

{% load staticfiles %}
<style>
    h4{
        alignment: right;
    }
</style>

{% block title %}Profile{% endblock %}

{% block body_block %}
        <div class="page-header">
        	<h1> {{ user.username }}'s Profile</h1>
       </div>

       <h4>Email: {{ user.email }}</h4>
    <div align = "left"> Mugshot:

       		 {% if userprofile.picture %}
					<img src="{{ userprofile.picture.url }}" alt="User image " height="100" width="100"/>
			{% else %}
					None Given
			{% endif %}</p>
			

        <br>
        <h3> Your Game Statistics </h3>
     <!-- Display extra information if required -->
	 
		
       <p> Games Played:
       		{% if userprofile.games_played %}
					{{ userprofile.games_played}}

			{% else %}
			Zero
			{% endif %}</p>
			
       <p> Most Days Survived:
       		{% if userprofile.most_days_survived %}
					{{ userprofile.most_days_survived}}
								{% else %}
			Zero
			{% endif %}</p>

       <p> Largest Party Size:
       		{% if userprofile.most_people %}
					{{ userprofile.most_people}}
								{% else %}
			Zero
			{% endif %}</p>

       <p> Most Kills:
       		{% if userprofile.most_kills %}
					{{ userprofile.most_kills}}
								{% else %}
			Zero
			{% endif %}</p>
			</div>	
		<h3>Badges:</h3>	
    <div align ="left" ><div align="left" style="width:625px;height:200px;border:1px solid #000; background-color: rgba(5,4,2,0.1);">

		 {% if achievements %}
                {% for a in achievements %}
					<img src="{{ a.badge.icon.url }}" alt="yhuh" height="100" width="100"/>
                {% endfor %}
			{% else %}
					None Earned
			{% endif %}</div>
    </div>

       <h3> Your options </h3><br>
            <a href="/accounts/password/change/">Change your password</a>
			
    </h4>

{% endblock %}